.tasksMain {
    background-color: rgb(243, 243, 243);
    margin-bottom: 40px;
    padding: 20px;
}

.logoutDiv {
    display: flex;
    justify-content: end;
}

.taskHeader {
    text-align: center;
}

.tasksContainer {
    margin-top: 40px;
}

.taskColumn {
    border: 2px solid white;
    border-radius: 25px;
}
