* {
    box-sizing: border-box;
}

.website-main {
    position: relative;
    min-height: 100vh;
    margin-inline: 70px;
    padding-top: 50px;
}


@media (max-width: 650px) {
    .website-main {
        margin-inline: 30px;
    }
}



@media (max-width: 520px) {
    .website-main {
        margin-inline: 15px;
    }
}
